BPO_SERVICO_API_URL=
BPO_WS_PROPOSTA_URL=
BPO_WS_ESTEIRA_URL=
BPO_WS_FORMALIZACAO_URL=
BPO_CONSIGNACAO_URL=
BPO_CARTAO_USER=
BPO_CARTAO_PASSWORD=
BPO_HTTP_TIMEOUT=30
BPO_DEFAULT_DOCUMENT_TYPE=Nao_Definido
BPO_TLS_VERIFY=true
